<h2>Sign up for our newsletter to receive news and specials!</h2>
<form class="formContainer newsletterForm" role="form" action="/process2?form=newsletter" method="POST">
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <div>
    <label for="fieldName">Name</label>
    <input type="text" id="fieldName" name="name">
  </div>
  <div>
    <label for="fieldEmail">Email</label>
    <input type="email" required id="fieldEmail" name="email">
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>

{{#section 'jquery'}}
<script>
  $(document).ready(function(){
    $('.newsletterForm').on('submit', function(evt){
      evt.preventDefault()
      var action = $(this).attr('action')
      var $container = $(this).closest('.formContainer')
      $.ajax({
        url: action,
        type: 'POST',
        data: {
          name: $('#fieldName').val(),
          email: $('#fieldEmail').val()
        },
        success: function(data){
          if(data.success){
            $container.html('<h2>Thank you!</h2>')
          } else {
            $container.html('There was a problem.')
          }
        },
        error: function(){
          $container.html('There was a problem.')
        }
      })
    })
  })
</script>
{{/section}}