<div>
  <form role="form" action="/notify-me-when-in-season" method="POST">
    <input type="hidden" name="sku" value="{{sku}}">
    <div>
      <label for="fieldEmail">Email</label>
      <input type="email" required id="fieldName" name="email">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>